$background-color: #000;
$background-welcome: red;
$background-about: #fff;
$background-contact: #373B44;
$contact-href-color: #2080f7;
$contact-href-background: rgba(255, 255, 255, .4);
$breakpoint-min: 0px;
$breakpoint-max: 568px;
$pink: #FE4B74;
$white: #fff;
